{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
Lee's blog
{% endblock %}
{% block content %}

{% for post in posts %}
<!--This is the START of the content-->
<div id="content">
  <!--This is the START of the blog section-->
  <div id="blog">
    <div class="blog-item"> <a href="post/{{ post.id }}"><img class="single_image" src="/uploads/{{ post.psot_img }}" width="280" height="180" alt="blog1" /></a>
      <div class="blog-item-info">
        <div class="user">admin</div>
        <div class="comments">6 comments</div>
        <div class="tags">psd news blog post</div>
      </div>
      <div class="blog-item-content"> <a href="post/{{ post.id }}">
        <h5>{{ post.title }}</h5>
        </a>
        <p>{{ post.desc }}</p>
        <a class="readmore" href="post/{{ post.id }}">read more →</a> <br />
      </div>
       <div class="spacer"></div>
    </div>
  </div>
  <!--This is the END of the blog section-->
</div>
{% endfor %}
<div id="pagination">
    <ul id="pagination-flickr">
    {% if posts.has_previous %}
    <li class="previous"><a href="?page={{ posts.previous_page_number }}">&laquo;上一页</a></li>
    {% else %}
    <li class="previous-off">&laquo;上一页</li>
    {% endif %}
     <li class="active">{{ posts.number }}/{{ posts.paginator.num_pages }}</li>
    {% if posts.has_next %}
    <li class="next"><a href="?page={{ posts.next_page_number }}">下一页 &raquo;</a></li>
    {% else %}
      <li class="next-off">下一页 &raquo;</li>
    {% endif %}
   </ul>
</div>
{% endblock %}