{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
Contact me
{% endblock %}
{% block content %}
<div id="content">
  <!--This is the START of the contact section-->
  <div id="contact">
    <h5 style="margin-top:10px;">Contact us</h5>
    <p>If you would like to contact us use this form, and we will get back to you shortly!</p>
    <form name="contact" action="contact" id="contactform" method="post">
      <div class="boxes">
        <h6><span class="required">name*</span></h6>
        <div class="box">
          <input name="name" type="text" class="input" id="sender_name" />
        </div>
        <h6><span class="required">email*</span></h6>
        <div class="box">
          <input name="email" type="text" class="input" id="sender_email" />
        </div>
        <h6>message</h6>
        <div class="msgbox">
          <textarea name="cf_message" rows="50" cols="30" class="message" id="cf_message"></textarea>
        </div>
        <div class="submitbtn">
          <input type="submit" style="color:black;" class="button btncolor" onClick="MM_validateForm('sender_name','','R');MM_validateForm('sender_email','','RisEmail');return document.MM_returnValue" value="Send Message" />
        </div>
      </div>
    </form>
  </div>
  <div id="contactinfo">
    <h5>Our adress is:</h5>
    <p>Imaginary street 14</p>
    <p>The windy City</p>
    <p>1345 Post code</p>
    <br />
    <h5>Our contact info is:</h5>
    <p>E: info@effe.com</p>
    <p>T: (012) 345 678</p>
    <p>F: (456) 847 854</p>
    <br />
    <div class="dribbble"><a href="#">Dribbble</a></div>
    <div class="forrst"><a href="#">mail@effe.com</a></div>
    <div class="google"><a href="#">Google +</a></div>
    <div class="twitter_small"><a href="http://www.twitter.com">Follow on twitter</a></div>
    <div class="facebook_small"><a href="http://www.facebook.com">Follow on facebook</a></div>
   </div>
  <!--END of contact section-->
</div>
<!--END of content-->
{% endblock %}
