{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
leeweb
{% endblock %}
{% block content %}


<div id="content">
	<!--This is the START of the NIVO slider-->
	<div class="slider-wrapper theme-effe">
		<div id="slider" class="nivoSlider">{% for banner in banner_list %}<a href="{{ banner.url }}"><img src="/uploads/{{ banner.img  }}" /></a>{% endfor %}</div>
	</div>


	<!--END of NIVO Slider-->
	<!--This is the START of the recent posts-->
	<div class="spacer"></div>
	<div id="recent-text">
		<h2>These are some of our latest posts...</h2>
		<div class="star-divider"></div>
		<h5>You can check them out in our blog section!</h5>
		<div class="spacer"></div>
	</div>
	<div id="recent-posts-container">
		<div class="section-description">
			<h5>Recent posts</h5>
			<p>Here you can find some of our most recent and fresh content...</p>
		</div>
		<div class="recent-summary">
			<div class="recent-item"> <a class="single_image" href="/uploads/{{ posts_1.psot_img }}"><img src="/uploads/{{ posts_1.psot_img }}" width="250" height="150" alt="recent1" /></a>
				<h6>{{ posts_1.title }}</h6>
				<p>{{ posts_1.desc }}<a class="readmore" href="/blog/post/{{ posts_1.id }}">read more →</a></p>
			</div>
			<div class="recent-item-last"> <a class="single_image" href="/uploads/{{ posts_2.psot_img }}"><img src="/uploads/{{ posts_2.psot_img }}" width="250" height="150" alt="recent2" /></a>
				<h6>{{ posts_2.title }}</h6>
				<p>{{ posts_2.desc }}<a class="readmore" href="/blog/post/{{ posts_2.id }}">read more →</a></p>
			</div>
		</div>
		<!--END of recent posts-->
		<!--This is the START of the recent projects-->
		<div id="recent-projects-container">
			<div class="section-description">
				<h5>Recent projects</h5>
				<p>These are some of our latest projects, some nice stuff in here...</p>
			</div>
			<div class="recent-summary">
				<div class="recent-item"> <a class="single_image" href="{% static 'images/portfolio/thumbs/recent1.jpg' %}"><img src="{% static 'images/portfolio/thumbs/recent1.jpg' %}" width="250" height="150" alt="recent1" /></a>
					<h6>Moo Minicards</h6>
					<p>Kinda sweet huh?<a class="readmore" href="portfolio.html">read more →</a></p>
				</div>
				<div class="recent-item-last"> <a class="single_image" href="{% static 'images/portfolio/thumbs/recent2.jpg' %}"><img src="{% static 'images/portfolio/thumbs/recent2.jpg' %}" width="250" height="150" alt="recent2" /></a>
					<h6>Right off the press!</h6>
					<p>Could drop some lorem here.<a class="readmore" href="portfolio.html">read more →</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

